* {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

body {
  background: #f0f0f0;
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
}

h1 {
  color: #555;
  font-weight: normal;
  font-size: 4rem;
  margin: 0 0 2rem;
}

canvas {
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),
              0 4px 15px 0 rgba(0,0,0,0.15);
}

header {
  display: flex;
  margin-bottom: 1rem;
}

header > h1 {
  flex: 1 1 auto;
  line-height: 1;
  margin: 0 1rem;
}

header > form {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
